<div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">

        <b-card border-variant="primary" header-bg-variant="primary" header-text-variant="white">
            <template v-slot:header>
                <h5 class="mb-0">{{action}} {{title}}</h5>
            </template>
            <b-card-text>
                <div class="finances-card">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                                <b-form-group id="input-group-1" label="Monto Total" label-for="input-1">
                                    <b-form-input id="input-1" v-model="form.amount" type="text" autocomplete="off"
                                        required>
                                    </b-form-input>
                                </b-form-group>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                                <b-form-group id="input-group-2" label="Descripción" label-for="input-2">
                                    <b-form-input id="input-2" v-model="form.description" type="text" required>
                                    </b-form-input>
                                </b-form-group>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-3"  >
                                <b-form-group id="input-group-3" label="Mes" label-for="input-3">
                                    <multiselect v-model="form.month" :multiple="false" :searchable="false" label="name"
                                        :options="calendarMonths"></multiselect>
                                </b-form-group>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-3"  >
                                <b-form-group id="input-group-3" label="Año" label-for="input-3">
                                    <multiselect v-model="form.year" :multiple="false" :searchable="false" label="name"
                                        :options="calendarYears"></multiselect>
                                </b-form-group>
                            </div>
                           
                            <div class="col-12"><hr></div>

                            <div class="col-12 col-md-6 col-lg-6 col-xl-4"  >
                                <b-button class="mr-3" type="button" variant="primary" @click="addBudget()"><strong>Agregar</strong></b-button>
                            </div>
                            
                            <div class="col-12"><hr></div>

                            <template v-for="(budget, i) in form.budgets">
                                
                                <div class="col-3">
                                    <b-form-group id="input-group-1" label="ID" label-for="input-1">
                                        <b-form-input id="input-1" v-model="budget.id" type="text" autocomplete="off"
                                            required>
                                        </b-form-input>
                                    </b-form-group>
                                </div>

                                <div class="col-3">
                                    <b-form-group id="input-group-1" label="Nombre" label-for="input-1">
                                        <b-form-input id="input-1" v-model="budget.name" type="text" autocomplete="off"
                                            required>
                                        </b-form-input>
                                    </b-form-group>
                                </div>
                              
                                <div class="col-3">
                                    <b-form-group id="input-group-1" label="Monto" label-for="input-1">
                                        <b-form-input id="input-1" v-model="budget.amount" type="text" autocomplete="off"
                                            required>
                                        </b-form-input>
                                    </b-form-group>
                                </div>

                                <div class="col-3">
                                    <b-button class="mr-3 mt-4" type="button" variant="danger" @click="removeBudget(budget)"><strong>Eliminar</strong></b-button>
                                </div>

                            </template>    
                       
                        </div>

                    </div>
                </div>
            </b-card-text>
        </b-card>

        <div class="fixed-bottom">
            <div class="row mb-4 text-center">
                <div class="col-12">
                    <b-button class="mr-3" type="submit" variant="primary"><strong>Guardar</strong></b-button>
                    <b-button type="reset" variant="danger"><strong>Limpiar</strong></b-button>
                </div>
            </div>
        </div>
    </b-form>
</div>