<div>
    <b-card border-variant="primary" header-bg-variant="primary" header-text-variant="white">
        <template v-slot:header>
            <h5 class="mb-0">Información</h5>
        </template>
        <b-card-text v-if="loaded">

            <template v-for="(year, i) in items">                
                <template v-for="(month, j) in year">
                    <h4>{{i}} - {{months[j-1]}}</h4>                   

                    <template v-for="(data, k) in month">
                        <p><b>Gastos</b></p>
                        <b-table striped bordered outlined small hover responsive selectable select-mode='single'
                            class="table-finances" :items="getExpensesGroupedByCategory(data)">                      
                        </b-table>
                        <p><b>Ingresos</b></p>
                        <b-table striped bordered outlined small hover responsive selectable select-mode='single'
                            class="table-finances" :items="getIncomes(data)">                      
                        </b-table>
                    </template>
                    <br>
                    <hr>
                    <br>

                </template>


            </template>

        </b-card-text>
    </b-card>
</div>