.w100{
    width: 100%;
}

.nav-link{
    font-weight: 800;
    font-size: 17px;
    color: white !important;
    background-color: $light-blue;
    -webkit-box-shadow: 3px 10px 15px -9px rgba(0, 0, 0, 0.74);
    box-shadow: 3px 10px 15px -9px rgba(0, 0, 0, 0.74);
    margin-right: 5px;
}

.navbar{
    padding: 0px;
    background: #EAEAEA !important;
    -webkit-box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.71);
    box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.71);
}

.table-finances{
  .btn-sm, .btn-group-sm > .btn {    
    line-height: 1px!important;  
  } 
  white-space: nowrap;
  border-spacing:0 15px; 
}

@media (max-width: 501px){
  body{
      font-size: 13px!important;      
  }
  .nav-link{
      text-align: center;
      background-color: white;
      color:$light-blue!important;
  }
}