.top-bar{
    background-color: $light-blue;
    height: 15px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
}
.debug-info{
    position: fixed;
    bottom: 0;
    right: 0;   
    background: rgb(245, 240, 240); 
    width: 100%;
    text-align:right;
}