<div>

    <b-card border-variant="primary" :title="'Nuevo '+title" header-bg-variant="primary" header-text-variant="white">
        <b-card-text>
            <div class="row">
                <div class="col-12">
                    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                <b-form-group id="input-group-1" label="Monto" label-for="input-1">
                                    <b-form-input id="input-1" v-model="form.amount" type="text" autocomplete="off" required>
                                    </b-form-input>
                                </b-form-group>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                <b-form-group id="input-group-1" label="Descripción" label-for="input-1">
                                    <b-form-input id="input-1" v-model="form.description" type="text" required>
                                    </b-form-input>
                                </b-form-group>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                    <b-form-group id="input-group-3" label="Fecha" label-for="input-3">
                                        <datepicker input-class="w100" v-model="form.date" :language="es"></datepicker>
                                    </b-form-group>
                                </div>                        
                            <div class="col-12 col-md-6 col-lg-6 col-xl-4" v-if="this.form.type =='expenses'">
                                <b-form-group id="input-group-3" label="Categoria" label-for="input-3">
                                    <multiselect v-model="form.categories" :searchable="true" :multiple="true" :options="categories"></multiselect>
                                </b-form-group>                                
                            </div>                            
                        </div>


                        <b-button type="submit" variant="primary">Guardar</b-button>
                        <b-button type="reset" variant="danger">Limpiar</b-button>
                    </b-form>

                </div>
            </div>
        </b-card-text>
    </b-card>
</div>