.description{
    font-weight: bold;
}
.amount{
    font-weight: bold;
}
.budget-card{
    border: 1px solid black;
    padding: 15px;
}

.budget-categories{
    font-size: 13px;
    font-weight: bold;
}
.budget-card p{
    padding-bottom: 0px;
    margin-bottom: 2px;
}