.login-box {
    width: 410px;
    margin: 7% auto;    
    background: #fff;
    min-height: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    position: relative;          
    padding: 0px 0px 35px 0px;
    border: 1px solid $light-blue;
}
.login-logo{
    margin: auto;
    text-align: center !important;
    img{
        height: 90px;
    }
}
.top-bar{
    background-color: $light-blue;
    height: 15px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
}
.bottom-bar{
    background-color: $light-gray;
    height:80px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.footer-text {
    font-weight: bold;
    color: #666;
    font-size: 14px;
}
.login-title{
    background-color: #ffffff;
    color: white;
    font-weight: 700;
    padding: 15px 0px 15px 0px;
}
.error-msg {
    color: red;
    font-weight: bold;
    padding-top: 5px;
    padding-left:45px;
  }

button:disabled {
  cursor: not-allowed;
}

.err-input {
  border: 0.5px solid red;
}
.err-msg {
  color: red;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 45px;
}