<div>
    <div class="col-12">
        <div class="row">                    
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                <b-form-group id="input-group-3" label="Año" label-for="input-3">
                    <multiselect v-model="form.year" :multiple="false" :searchable="false"
                        :options="years"></multiselect>
                </b-form-group>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                <b-form-group id="input-group-3" label="Mes" label-for="input-3">
                    <multiselect v-model="form.month" :multiple="false" :searchable="false"
                        :options="months" label="name"></multiselect>
                </b-form-group>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                <b-form-group id="input-group-3" label="Categorias" label-for="input-3">
                    <multiselect v-model="form.category" :multiple="true" :searchable="false"
                        :options="categories"></multiselect>
                </b-form-group>
            </div>            
        </div>
    </div>
    <b-card border-variant="primary" header-bg-variant="primary" header-text-variant="white">
        <template v-slot:header>
            <h5 class="mb-0">Listado</h5>
        </template>        
        <b-card-text>            
            <b-table striped bordered outlined small hover responsive selectable select-mode='single'
                class="table-finances" :items="getFilteredItems()" :fields="fields">
                <template slot="[show_details]" slot-scope="row">
                    <b-button size="sm" @click="editRow(row)" class="btn-success btn-table-arrow">
                        <i class="fas fa-pencil-alt"></i>
                    </b-button>
                    <b-button size="sm" @click="deleteRow(row)" class="btn-danger btn-table-arrow">
                        <i class="fas fa-minus"></i>
                    </b-button>
                </template>
            </b-table>
        </b-card-text>
    </b-card>
</div>